<!doctype html>
<html lang="en">
	{% include '../includes/head.html' %}
	<body>
		{% include '../includes/nav.html' %}

	     <div class="canvas">
	       <div class="navbar navbar-default navbar-fixed-top">
	         <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target=".navmenu" data-canvas=".canvas">
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	           <span class="icon-bar"></span>
	         </button>
	       </div>

		<div class="container">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<h1>{{ title }}</h1>

		    {% block content %}{% endblock %}
			</div>
		</div>
	</div>
	{% include '../includes/foot.html' %}
    </body>
</html>
