body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
	margin: 0 auto;
}

h1 {
	font-family: "museo-sans",sans-serif;
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
}
p {
	color: #333332;
	font-family: "adobe-garamond-pro", serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: .02rem;
	line-height: 1.5;
}

.well {
	background-color: #fff;
	background-image: none;
}  

.btn {
	text-shadow: none;
	background-image: none;
}