{% extends 'layouts/default.html' %}
{% block content %}
	<p><a href="/logout" class="btn btn-default btn-sm">Logout</a></p>

	<div class="row">
		<!-- TWITTER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
					<p>
						<strong>id</strong>: {{ user.twitter.id }}<br>
						<strong>display name</strong>: {{ user.twitter.displayName }}<br>
						<strong>username</strong>: {{ user.twitter.username }}
					</p>
			</div>
		</div>
	</div>

{% endblock %}