{% extends 'layouts/default.html' %}
{% block content %}
<p>I'm a developer and digital strategist currently working in the Digital & Emerging Media department at Smithsonian's Cooper-Hewitt, National Design Museum in New York City.</p> 

<p>My role at the Cooper-Hewitt as Webmaster has afforded me the opportunity to work with a growing team of leaders in the field as we work to rebuild the museum from the ground up. Over the past four years my work has spanned the areas of digital content strategy, management and infrastructure planning to low level programming and development of web applications utilizing a variety of languages and technologies. </p>

<p>Before joining the Cooper-Hewitt I received an MFA in Photographic and Electronic Media from Maryland Institute College of Art and worked as a freelance photojournalist in the Nation's Capital and in the Middle East.</p> 

<p>As a photojournalist, I traveled extensively to cover news around the world for clients like TIME, The New York Times and more. Prior to my work as a photojournalist I received a Bachelors of Science from the Rochester Institute of Technology, where I majored in Imaging and Photographic Technology. Shortly after graduating from RIT, I worked as an Imaging Specialist at the University of Rochester's Lab for Laser Energetics.</p>

<p>Presently I live near beautiful Prospect Park in Brooklyn, New York with my dog Molly and lovely girlfriend, Amanda.</p>
{% endblock %}