{% extends 'layouts/default.html' %}
{% block content %}
	<p><a href="/logout" class="btn btn-default btn-sm">Logout</a>
	<a href="/p/new-post" class="btn btn-default btn-sm">New Post</a>
	</p>

	<div class="row">
		<!-- TWITTER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
					<p>
						<strong>id</strong>: {{ user.twitter.id }}<br>
						<strong>display name</strong>: {{ user.twitter.displayName }}<br>
						<strong>description</strong>: {{ user.twitter.description }}<br>
						<strong>username</strong>: <a href="/@{{ user.twitter.username }}">{{ user.twitter.username }}</a><br />
						<img src="{{ user.twitter.profilePhoto }}" />
					</p>
			</div>
		</div>
	</div>

{% endblock %}