{% extends 'layouts/default.html' %}
{% block content %}
	<div class="row">
		<!-- TWITTER INFORMATION -->
			<div class="well">
				<h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
					<p>
						<strong>id</strong>: {{ user.twitter.id }}<br>
						<strong>display name</strong>: {{ user.twitter.displayName }}<br>
						<strong>description</strong>: {{ user.twitter.description }}<br>
						<strong>username</strong>: <a href="/@{{ user.twitter.username }}">{{ user.twitter.username }}</a><br />
						<img src="{{ user.twitter.profilePhoto }}" />
					</p>
					
					<table class="table table-striped">
					<tbody>
					{% for post in posts %}
					  <tr>
					    <td><a href="/p/{{ post.id }}">{{ post.title }}</td>
						<td>{{ post.created|date('F jS, Y') }}</td>
					  </tr>
					{% endfor %}
					</tbody>
					</table>
					
			</div>
	</div>

{% endblock %}