<!doctype html>
<html lang="en">
	{% include 'includes/head.html' %}
	<body>
		{% include 'includes/nav.html' %}
		 
		 <div class="jumbotron">
		   <div class="container">
			   <div class="col-lg-10 col-lg-offset-1 ">
				   <h2>Welcome...</h2>
		    <p>If you are here you're probably wondering what's going on. I'm in the process of <a href="https://medium.com/check-out-my-new-website">rebuilding my website</a>. For the near future, I'll be doing all my writing on <a href="https://medium.com/@micahwalter">Medium.com</a> since I find it a nice place to write. If you are looking for something specific, like an old link, please look through my Medium posts, or look at my <a href="http://micahwalter.tumblr.com">Tumblr page</a> which still has lots of old stuff. You can also follow me on <a href="http://twitter.com/micahwalter">Twitter</a> or <a href="http://facebook.com/micahwalter">Facebook</a>, or <a href="http://github.com/micahwalter">Github</a>. I've also been known to write stuff for the <a href="http://labs.cooperhewitt.org">Cooper-Hewitt Labs</a>. Eventually this will all make sense. In the meantime...</p>
			
			<form action="http://micahwalter.us2.list-manage.com/subscribe/post?u=b9087a7641b069756fa341e6c&amp;id=2a0b02dd57" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

				<fieldset>
				    <div class="input-group">
				      <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="Subscribe to my newsletter" required>
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="submit"><span class="fa fa-envelope"></span></button>
				      </span>
				    </div><!-- /input-group -->
	
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b9087a7641b069756fa341e6c_2a0b02dd57" tabindex="-1" value=""></div>
				</fieldset>
			</form>
				
			</div>
		</div>
	</div>
		 		
	{% include 'includes/foot.html' %}
    </body>
</html>
