{% extends 'layouts/default.html' %}
{% block content %}

	<form  action="/p/new-post" method="post" >
	<fieldset>

	<!-- Form Name -->
	<legend>Create a post</legend>

	<!-- Text input-->
	<div class="input-group">
	  <label class="control-label" for="title">Title</label>
	  <div class="form control">
	    <input id="title" name="title" type="text" placeholder="" class="form-control" required="">
    
	  </div>
	</div>

	<!-- Textarea -->
	<div class="input-group">
	  <label class="input-label" for="content"></label>
	  <div class="form control">                     
	    <textarea id="content" name="content"></textarea>
	  </div>
	</div>

	<!-- Button -->
	<div class="control-group">
	  <label class="control-label" for="submit"></label>
	  <div class="controls">
	    <button class="btn btn-lg btn-primary">Submit</button>
		<a href="/" class="btn btn-lg btn-danger" role="button">Cancel</a>
	  </div>
	</div>

	</fieldset>
	</form>
{% endblock %}