{% extends 'layouts/default.html' %}
{% block content %}

{% if user %}
	<p><a href="/logout" class="btn btn-default btn-sm">Logout</a>
	<a href="/p/new-post" class="btn btn-default btn-sm">New Post</a>
	</p>
{% endif %}
	<div class="row">
		<!-- TWITTER INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
					<p>
						<strong>id</strong>: {{ profile.twitter.id }}<br>
						<strong>display name</strong>: {{ profile.twitter.displayName }}<br>
						<strong>description</strong>: {{ profile.twitter.description }}<br>
						<strong>username</strong>: {{ profile.twitter.username }}<br />
						<img src="{{ profile.twitter.profilePhoto }}" />
					</p>
					
					<ul>
					{% for post in posts %}
					  <li>
					    <a href="/p/{{ post.id }}">{{ post.title }} created on {{ post.created|date('F jS, Y') }}</a>
					  </li>
					{% endfor %}
					</ul>
			</div>
		</div>
	</div>

{% endblock %}