{% extends 'layouts/default.html' %}
{% block content %}

	<!-- <div class="row"> -->
		<!-- TWITTER INFORMATION -->
			<!-- <div class="well"> -->
					<p>
						<strong>id</strong>: {{ profile.twitter.id }}<br>
						<strong>display name</strong>: {{ profile.twitter.displayName }}<br>
						<strong>description</strong>: {{ profile.twitter.description }}<br>
						<strong>username</strong>: {{ profile.twitter.username }}<br />
						<img class="img-circle" src="{{ profile.twitter.profilePhoto }}" />
					</p>
					<h3>Recent Posts</h3>
					<ul>
					{% for post in posts %}
					  <li>
					    <a href="/p/{{ post.id }}">{{ post.title }} created on {{ post.created|date('F jS, Y') }}</a>
					  </li>
					{% endfor %}
					<li><a href="/@{{ profile.twitter.username }}/posts">more posts...</a></li>
					</ul>
					<h3>Recent Tweets</h3>
					<ul>
					{% for tweet in tweets %}
					  <li>
					    <a href="/t/{{ tweet.id }}">{{ tweet.tweet.text }}</a>
					  </li>
					{% endfor %}
					<li><a href="/@{{ profile.twitter.username }}/tweets">more tweets...</a></li>
					</ul>
					
			<!-- </div> -->
	<!-- </div> -->

{% endblock %}