{% extends 'layouts/default.html' %}
{% block content %}

						<div class="content">
						<p>{{ tweet.tweet.text|safe }}</p>
						{% if tweet.tweet.geo %}
						<div id="map" style="height: 240px;"></div>						
						{% endif %}
						</div>
						
						{% if tweet.tweet.geo %}
						<script>

								var map = L.map('map').setView([{{tweet.tweet.geo.coordinates['0']}}, {{tweet.tweet.geo.coordinates['1']}}], 16);
								L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
								    maxZoom: 18
								}).addTo(map);
								var marker = L.marker([{{tweet.tweet.geo.coordinates['0']}}, {{tweet.tweet.geo.coordinates['1']}}]).addTo(map);

						</script>
						{% endif %}
						
{% endblock %}