{% extends 'layouts/default.html' %}
{% block content %}

							<div class="content">
							<h3>There are {{ count }} tweets</h3>
							<p>This is page {% if page %}{{ page }}{% else %}1{% endif %} of {{ pages }}</p> 	
							<ul>
							{% for tweet in tweets %}
							<li><a href="/t/{{ tweet.id }}">{{ tweet.tweet.id }}</a> - {{ tweet.tweet.text }}</li>
							{% endfor %}
							</ul>
							{% if pages > 1 %}
							<ul class="pagination">
							  {% if page > 1 %}<li><a href="/@{{ username }}/tweets/{{ page-1 }}">&laquo;</a></li>{% endif %}
							  {% if page < pages %}<li><a href="/@{{ username }}/tweets/{{ next_page }}">&raquo;</a></li>{% endif %}
							</ul>
							{% endif %}
							
							</div>
						
{% endblock %}